// breakpoints
$sm-breakpoint: 768px;

//colors
$color-black: #0e1111;
$color-light-gray: #F5F5F5;
$color-table-odd: rgba(0,0,0,.05);
$color-white: #FFFFFF;

//dimensions
$board-large: 300px;
$board-small: 255px;

//transitions
$transition-time: 0.5s;
$transition-type: ease-in-out;
